/* TailwindCSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background-color: #1d4ed8; /* Blue background */
}

.post-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-footer {
  display: flex;
  justify-content: space-between;
}
